//
//  Development.xcconfig
//  eFileManage
//
//  Created by Bukka, Ravikumar on 6/5/18.
//  Copyright © 2018 Bukka, Ravikumar. All rights reserved.
//

SLASH = /

// DEV Image URLs
server_url_first     = https:$(SLASH)/clientarea.indegene.com/sharemax/retrieve.jsp?id=fd7b185a-58e7-4e1f-9870-654736d9fa2d
server_url_second    = https:$(SLASH)/clientarea.indegene.com/sharemax/retrieve.jsp?id=23d93642-0b6c-40fd-9ca2-d4b5d3a930c8
server_url_third     = https:$(SLASH)/clientarea.indegene.com/sharemax/retrieve.jsp?id=93ac5b8a-69c1-44cd-803d-81701176ba3e
server_url_fourth    = https:$(SLASH)/clientarea.indegene.com/sharemax/retrieve.jsp?id=93d64af9-d43e-4d83-8786-f20d7c78fe17


// DEV PDF URL
server_url_pdf     = https:$(SLASH)/clientarea.indegene.com/sharemax/retrieve.jsp?id=eeda377a-aecb-4a22-8180-4214f5983967


// DEV Video URL
server_url_video     = https:$(SLASH)/clientarea.indegene.com/sharemax/retrieve.jsp?id=462688db-ad8d-405d-a823-bb9824a2c912
